// -----------------------------------------------------------------------------
// This file contains all styles related to the Result of YouTube Challange
// -----------------------------------------------------------------------------
/* --------------------- Mobile styles --------------------- */
.result {
  display: flex;
  .result__img {
    height: 100px;
  }
  .result__details {
    margin-left: 15px;
    h3,
    p {
      margin: 0;
      // max-width: 250px;
    }
    p {
      color: #a0a0a0;
      font-size: 14px;
      &.desc {
        margin-top: 15px;
      }
    }
  }
}

/* --------------------- small tablet styles --------------------- */
@media screen and (min-width: 620px) {
  .result {
    .result__img {
      height: 130px;
    }
  }
}
