.video {
  border-bottom: 2px solid #e0e0e0;
  &__embed {
    width: 100%;
    height: 315px;
    margin-bottom: 10px;
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    font-size: 25px;
    margin: 0px;
  }

  &__channel-name {
    font-size: 18px;
  }
  &__views {
    font-size: 14px;
    margin-left: 5px;
    color: #afafaf;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  &__like {
    margin-right: 20px;
  }
  &__share {
    margin: 0px 20px;
  }
  i {
    font-size: 20px;
    cursor: pointer;
  }
}

.video__info--pc {
  display: none;
  border-bottom: 2px solid #e0e0e0;
  .video__name {
    display: none;
  }
  .video__statistics {
    display: flex;
    justify-content: space-between;
  }
  .video__dislike {
    margin-right: 20px;
  }
}

.channel-info-pc {
  display: none;
  align-items: center;
  margin: 20px 0px;
  img {
    height: 60px;
    border-radius: 50%;
  }
  div {
    margin-left: 20px;
    h3 {
      margin: 0px;
    }
    p {
      margin: 0px;
      font-size: 14px;
      color: #a5a5a5;
    }
  }
}

/* --------------------- small tablet styles --------------------- */
@media screen and (min-width: 620px) {
  .video__info {
    display: none;
  }
  .video__info--pc {
    display: block;
  }
  .channel-info-pc {
    display: flex;
  }
}

/*--------------------- large tablet & laptop styles ---------------------*/
@media screen and (min-width: 960px) {
  .video__embed {
    height: 400px;
  }
}

/*--------------------- desktop styles ---------------------*/
@media screen and (min-width: 1200px) {
  .video__embed {
    height: 450px;
  }
}
